@import "reset.css";
@import "font.css";

*{
    font-family: 'DungGeunMo';
    cursor: default;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    outline:none;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DungGeunMo';
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

a, i{
    cursor: pointer;
}

input[type="text"],
input[type="password"]{
    cursor: text;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

.hidden{
    display: none;
}

.title-header{
    padding: 10px 10px;
}

.transparent-section{
    background-color: rgba(230, 230, 255,0.4);
    border-radius: 50px;
    width: 90%;
    height: 90%;
    padding: 10px 20px;
}

.wrapper{
    display: flex;
    height: 80%;
    width: 100%;
}

.wrapper section{
    width: 33%;
    height: 100%;
}

.todo-list-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-content-list{
    overflow-y: auto;
}

.todo-content-form{
    width: 100%;
    height: 20px;
}