@import "reset.css";
@import "font.css";
@import "screen-sizer.css";

*{
    font-family: 'DungGeunMo';
    cursor: default;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    outline:none;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DungGeunMo';
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

a, i{
    cursor: pointer;
}

input[type="text"],
input[type="password"]{
    cursor: text;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}
.title-header{
    padding: 10px 10px;
}

.transparent-section{
    background-color: rgba(230, 230, 255,0.4);
    border-radius: 50px;
    width: 90%;
    height: 90%;
    padding: 10px 20px;
}

.wrapper{
    display: flex;
    height: 80%;
    width: 100%;
}

.wrapper section{
    position: relative;
    width: 33%;
    height: 100%;
    padding:0px 10px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* Welcom Page*/
.welcome-page{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.welcome-page div{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
}

.welcome-page div form{
    position: absolute;
    bottom: 30%;
}

.welcome-page-img{
    width: 100%;
    height: 100%;
}

.welcome-page div form input:first-child{
    outline: none;
    background: none;
    border: none;
    font-size: 20px;
}

label i {position:absolute; left:50%; right:50%; bottom:-1px; border-bottom:2px solid #000; transition:all .3s;}
label input[type="text"]:focus + i {left:0; right:0; transition:all .3s;}

.welcome-page div form input:last-child{
    font-size: 14px;
    position: absolute;
    right: 0%;
    cursor: pointer;
}



/* Todo list */
#todo-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li span{
    vertical-align: middle;
}

#todo-list li button{
    background: none;
    border: none;
}

.todo-content{
    width: 100%;
    height: 90%;
    padding:10px 0px;
    display: flex;
    justify-content: center;
}

.todo-content-list{
    overflow-y: auto;
    width: 100%;
    height: 80%;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}


.todo-content-list::-webkit-scrollbar {
    width: 10px;
  }
  
.todo-content-list::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 80px;
    
}
  
.todo-content-list::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: rgb(55,41,72);
    background: linear-gradient(90deg, rgba(55,41,72,1) 0%, rgb(157, 157, 157) 49%, rgb(213, 214, 213) 100%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border: 1px solid #d4aa70;
}


.todo-content-form{
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 20px;
}

.todo-content-form input{
    background: none;
    font-size: 18px;
    width: 100%;
    border: none;
}

/* Calendar*/
.calendar {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 28px;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding: 0px 5px;
}

.date {
    width: calc(100% / 7);
    text-align: center;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
    opacity: .3;
}

.today {
    position: relative;
}

.today::before {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #FF0000;
    transform: translate(-50%, -50%);
    content: '';
}


/* Memo */
.memo{
    width: 100%;
}
.memo-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-btn, .memo-btn{
    background: none;
    outline:none;
    border: none;
    cursor: pointer;
}

.memo-section{
    height: 100%;
}

#memo-area{
    width: 100%;
    height: 100%;
    resize: none;
    font-family: 'DungGeunMo';
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}


#memo-area::-webkit-scrollbar {
width: 10px;
}

#memo-area::-webkit-scrollbar-track {
background-color: #e4e4e4;
border-radius: 80px;

}

#memo-area::-webkit-scrollbar-thumb {
border-radius: 80px;
background: rgb(55,41,72);
background: linear-gradient(90deg, rgba(55,41,72,1) 0%, rgb(157, 157, 157) 49%, rgb(213, 214, 213) 100%);
box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
border: 1px solid #d4aa70;
}

/* Weather*/
#weather{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#weather img{
    width: 30px;
    height: 30px;
}

#weather div{
    display: flex;
    flex-direction: column;
}

/* D-Day */
.dday-section{
    width: 100%;
}

.dday-title{
    text-align: center;
}

.dday-form{
    text-align: center;
}

.dday-title-div{
    position: relative;
    margin-bottom: 10px;
}

.dday-inputs{
    display: flex;
    justify-content: center;
}

.dday-section input[type="text"]{
    font-size: 18px;
}

.dday-section button,
.dday-section input[type="text"]{
    outline: none;
    background: none;
    border: none;
}

.dday-section button,
.dday-section input[type="date"]{
    font-size: 15px;
    cursor: pointer;
}

label i {position:absolute; left:50%; right:50%; bottom:-1px; border-bottom:2px solid #000; transition:all .3s;}
label input[type="text"]:focus + i {left:0; right:0; transition:all .3s;}

/* BGM */
#bgm-section{
    position: absolute;
    display: flex;
    top:0px;
    right: 10px;
    justify-content: center;
    align-items: center;
    color:aliceblue;
}

.js-onOffWrap button{
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
    color:aliceblue;
}

/* hidden 적용위해 뒤에 배치함 옮기지 말것*/

.hidden{
    display: none;
}
